#sprite {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("/images/sprite.png");
}

#fireball1 {
    position: absolute;
    width: 15px;
    height: 25px;
    background-image: url("/images/fireball.png");
    left: 167px;
    top: 390px;
}

#fireball2 {
    position: absolute;
    width: 15px;
    height: 25px;
    background-image: url("/images/fireball.png");
    left: 158px;
    top: 106px;
}

#fireball3 {
    position: absolute;
    width: 15px;
    height: 25px;
    background-image: url("/images/fireball.png");
    left: 335px;
    top: 200px;
    transform: rotate(90deg);
}

.hide {
    display: none;
}
